
/* 
    date-gadget.css

    For Morning Swill and Chronos
    2025-AUG-27
*/

.date {
    display : inline-block;
    box-sizing : border-box;
    margin  : 0;
    margin-bottom : 3ch;
    margin-left : 50%;
    background : rgba( 22, 22, 12, 0.4242 );
    font-size : 18pt;
    width : 36ch;
    transform : translate( -18ch, 0ch );
    border : none;
    border-radius : 4ch;
    padding : 0.84ch;
    padding-left  : 1.2ch;
    padding-right : 1.2ch;
}

.digit {
    display : inline-block;
    width : 2ch;
    padding : 0;
    margin  : 0;
    border : 1px solid gold;  
    font-size : inherit;
    text-align : center;
    background : rgb( 100, 100, 100 );
}

.digit:focus {
    background : mintcream;
}

.digit:first-child {
    margin-left : 1.2ch;
}

.accept {
    display : inline-block;
    border : none;
    border-radius : 3px;
    color : gold;
    background : transparent;
    cursor : pointer;
    margin-left : 1.2ch;
}

.accept:hover ,
.accept:focus {
    outline : none;
    color : rgb( 22, 22, 12 );
    background : rgba( 242, 242, 212, 0.6424 );
}

.accept:hover {
    box-shadow : 0px 0px 7px gold;
}

#finalDate {
    text-align : center;
}

