
/*

+ Midnight Theme
@ http://dave-tower/~/style/midnight.css

*/

* {
    background : transparent;
}

[center] {
    text-align : center;
}

[hide], [hidden] {
    display : none;
}

[hilite] {
    color : midnightblue;
    background : rgba( 242, 242, 121, 0.876 );
}

[banner] {
    text-align : center;
    padding : 0.42ch;
    padding-left  : 1.42ch;
    padding-right : 1.42ch;
    border-radius : 3ch;
}

menu > * , menu * , a , button ,
nav  > * , nav  * , a , button ,
.bar , [bar] ,
.dot , [dot] {
    display   : inline-block;
    padding   : 0.42ch  !important;
    font-size : inherit !important;
}

.bar:hover , [bar]:hover, 
.dot:hover , [dot]:hover {
    color : midnightblue;
    background : mintcream;
}

.bar , [bar] {
    border-radius : 3ch;
    padding-left  : 1.42ch;
    padding-right : 1.42ch;
    min-height    : 3.3ch !important;
}

.dot , [dot] {
    border-radius : 100%;
    min-width  : 3ch;
    min-height : 3ch;
    max-width  : 3ch;
    max-height : 3ch;
}

pre {
    padding : 0.42ch;
    padding-left : 1.42ch;
    padding-right : 1.42ch;
    border-radius : 3ch;
}

html, body {
    color : mintcream !important;
    background : #121232;
}

html {
    background : #040422 !important;
    margin  : 0;
    padding : 0;
    border  : none;
}

body {
    background : #222264 !important;
    border-radius : 42px;
    margin  : 16px;
    padding : 16px;
    border  : none;
}

h1 , h2, h3,
h4,  h5, h6 {
    color : mintcream;
    background : rgba( 0, 242, 242, 0.234 );
}

details summary {
    display : inline-block;
    font-size : 24pt;
}

details {
    text-align : center;
    margin-top : 1.1ch;
}

fieldset legend ,
fieldset, aside, 
details div {
    border-radius : 3ch;
}

table {
    border-radius : 1.1ch;
}

table, thead, tbody, 
caption {
    background : transparent;
}

details div {
    margin-top : 1.1ch;
    width : calc( 100% - 64px - 4ch );
    background : rgba( 180, 250, 250, 0.222 );
}

fieldset legend,
details div {
    position : inline-block;
    margin-left : 2ch;
}

fieldset, legend {
    border : none;
}

fieldset, aside, table {
    background : rgba( 100, 180, 250, 0.5 );
}

fieldset > * ,
fieldset * {
    color : gold;
}

fieldset legend {
    color : azure;
    background : #848472;
}

aside , 
fieldset legend {
    text-align : center;
    padding : 0.42ch;
    padding-left : 1.42ch;
    padding-right : 1.42ch;
}

blockquote {
    color : midnightblue;
    background : rgba( 242, 242, 121, 0.876 );
}

fieldset {
    margin-top : 1.2ch;
}

a, button {
    cursor  : pointer;
    display : inline-block;
    text-align : center;
    text-decoration : none;
}

a {
    width : auto;
}

button {
    width : 20ch;
}

a:hover , button:hover {
    color : midnightblue;
    background : mintcream;
}

nav  * , nav  > * ,
menu * , menu > * {
    display : inline-block;
    text-align : center;
    padding       : 0.42ch;
    padding-left  : 1.42ch;
    padding-right : 1.42ch;
    border-radius : 3ch;
    border : none;
    font-size : 14pt;
    line-height : 3ch;
    color : #999912;
    background : #111133;
}

nav, menu {
    min-width : 96%;
    margin  : 3px;
    margin-left  : 1.6%;
    margin-right : 1.6%;
    border : 1px solid transparent;
    border-radius : 3ch;
    text-align : center;
    font-size : 13pt !important;
}

body {
    border : 1px dashed gold;
    box-shadow : 0px 0px 0.777ch gold;
}

nav button , [dot] , [bar]
a, button {
    line-height : 3ch !important;
    min-height  : 3ch !important;
}

textarea:hover {
    background : #44FF77;
    color : black;
    box-shadow : 0px 0px 42px gold;
}

.ioe, .sio {
    background : #556677;
    color : black;
    width : 32ch;
    min-width : 32ch;
    max-width : 94%;
    min-height : 7ch;
    max-height : 70vh;
}

textarea {
    background : rgb( 238, 255, 204 );
    color : navy;
    width : 32ch;
    min-width : 32ch;
    max-width : 94%;
    min-height : 7ch;
    max-height : 70vh;
}


ul > * ,
ul * {
    color : rgba( 242, 242, 142, 0.777 );
}

input {
    background : mintcream;
    color : midnightblue;
}


