
/* 
    Official Theme for the STATUS Workspace
    Omega Edition
    2025-OCT-23
    ~/status.css
*/

[center] ,
.icon { text-align : center }

.large img { width : 100px; }

.gap, .eject {
    background : rgba( 4, 4, 44, 0.123 ); 
    width : 100%;
    height : 3px;
}

.gap {
    margin-top    : 3px;
    margin-bottom : 3px;
}

.eject {
    margin-top    : 3ch;
    margin-bottom : 3px;
}

h1 {
    border-radius : 3.3ch;
    background : gold;
}

