/* 

swill.css ~ 2025-SEP-16
Core Theme for Morning Swill Pages

*/

@import url("https://fonts.googleapis.com/css?family=Noto Sans");

@import url("./header-menu.css");
@import url("./footer-menu.css");
@import url("./home-button.css");
@import url("./date-gadget.css");
@import url("./footnotes.css");
@import url("./editor.css");
@import url("./table.css");
@import url("./ghost.css");
@import url("./tip-tube.css");

b[anner] {
    display : block ;
    border : 2px solid rgba( 33, 33, 33, 0.777 );
    border-radius : 3.3ch;
    background : rgba( 33, 33, 33, 0.333 );
    color : gold;
    text-shadow : 0px 0px 5px black;
    font-size : inherit;
    font-family : "Noto Sans Mono", monospace;
}

html, body {
    border  : none;
    margin  : 0;
    font-size : 12pt;
    font-family : "Noto Sans", sans-serif;
    color : #040442;
    background : rgb( 222, 252, 212 );
    box-sizing : border-box;
}

html {
    padding : 0;
}

body {
    padding : 20px;
    margin-top : 80px;
    margin-top : 50px;
    margin-bottom : 42vh;
}

hr { opacity : 0; }

h1, h2, h3, h4, h5, h6, blockquote {
    text-align : center;
}

menu {
    margin  : 0;
    padding : 0;
}

a, button {
    cursor : pointer;
}

a {
    padding : 3px;
    padding-left  : 1.1ch;
    padding-right : 1.1ch;
    border : none;
    border-radius : 3ch;
    text-decoration : none;
    background : rgba( 9, 9, 22, 0.123 );
    color : rgba( 7, 7, 9, 0.789 ); 
    display : inline-block;
}

a:hover {
    box-shadow : 0px 0px 11px black;
    background : mintcream;
    color : midnightblue;
}

a:focus {
    box-shadow : 0px 0px 7px #2A2A1B;
    outline : none;
}

details summary {
    cursor : pointer;
    font-size : large;
}

dfn {
    font-weight : 900 !important;
}

blockquote p {
    padding : 0;
    margin  : 0;
} 

blockquote {
    background : rgba( 179, 249, 229, 0.7771 );
    padding : 12px;
    border-radius : 3.5ch;
    font-size : 16pt;
} 

ul, ol {
    margin  : 0;
    padding : 0;
    text-align : center;
}

li {
    display : inline-block;
    list-style : none;
    text-align : center;
    width : 24%;
    margin : 1px;
    padding : 0;
}

li a {
    box-sizing : content-box;
    margin : 0;
    width : 92%;
}

