
/* 
    +   Tilly Common Theme
    @   http://dave-lenovo/~/style/
*/

@import url("./menu.css");
@import url("./status.css");
@import url("./midnight.css");

summary { font-size : 28pt !important; }

#file-list { background : #EE77EE; }
#sip {  background : #7777FF;  }
#sop {  background : #FF7777;  }
#sce {  background : #77FF77;  }

.actions { text-align : center; }

.actions button {
    display : inline-block;
    border : none;
    padding : 1ch;
    padding-right : 1.5ch;
    padding-left  : 1.5ch;
    border-radius : 3.3ch;
    width : 16ch;
    margin : 0.45ch;
}

.actions button:hover {
    box-shadow : 0px 0px 2ch black;
    background : mintcream;
    color : midnightblue;
}

.actions button[dot] {
    width  : 4.75ch;
    height : 4.75ch;
}

.actions button:focus {
    box-shadow : 0px 0px 1.15ch black;
    background : #77EE55;
    color : navy;
}

.fire {
    color       : #FFFF42;
    background  : #FF0420;
    text-shadow : 0px 0px 5px black;
    box-shadow  : 0px 0px 1em gold;  
    border      : 7px dotted navy;
}

.checklist {
    color : midnightblue;
    background  : mintcream;
    padding : 1.5ch;
    border-radius : 2.5ch;
    box-shadow : 0px 0px 1.5ch black;
}
