/*
@import url("http://dave-legacy/rt/style/");
*/

table {
    font : 14pt monospace;
    border : 0;
}

thead, tbody {
    font : 14pt inherit;
}

tbody tr {
    color      : white;
    background : black;
}

thead tr {
    color      : black;
    background : white;
}

tr * {
    font : inherit;
    color : inherit;
    background : inherit;
}

th, td {
    --vp : 3px;
    --hp : 9px;
    padding : var( --vp );
    padding-right : var( --hp );
    padding-left  : var( --hp );
}

th {
    font-weight : 900;
}

