
/* blue on yellow */

html, body {
    color : rgb( 2, 2, 42 );
    background : rgba( 242, 242, 142, 0.9420 );
}

/* dot button */

[sdot], 
[dot], 
a {
    display         : inline-block;
    text-align      : center;
    text-decoration : none;
    border-style    : border-box;
    border-radius   : 50%;
    border          : none;
    padding         : 0.4242em;
    cursor          : hand;
}

[sdot], 
[dot], 
a { 
    margin-top : 8px !important;
}

[sdot], 
[dot], 
a {
    --sz       : 28px;
    font-size  : 20px;
    width      : var( --sz );
    height     : var( --sz );
    min-width  : var( --sz );
    max-width  : var( --sz );
    min-height : var( --sz );
    max-height : var( --sz );
}

[sdot], 
[dot], 
a { background : rgba( 0, 0, 0, 0.4242 ); }

[sdot]:focus, 
[sdot]:hover, 
[dot]:focus, 
[dot]:hover, 
a:focus ,
a:hover {
    box-shadow  : 0px 0px 14px navy;
    background  : rgba( 42, 42, 142, 0.3423 );
}



/* Some Anchors are NOT DOTS!!! */

[balloon] ,
.balloon ,
nav a {
    width     : unset !important;
    max-width : unset !important;
    border-radius : 42px !important;
    --hp : 21px;
    padding-top : 10px !important;
    padding-right : var( --hp ) !important;
    padding-left  : var( --hp ) !important;
    color : gold !important;
    text-shadow : 0px 0px 5px black !important;
}

