
/*

| std.css        |
|----------------|
| @ ReText       |
| Omega  Edition |
| 2025-NOV-02    |

<div center>
<textarea class="sio">
This is a system-wide change maker. The intext is to set 
this  as the default style for ReText.

The implication of this is that anything placed here will be
embedded in all HTML files published with ReText while that
above condition is met.

It's preferable to use all @import directives here. This 
will eliminate the issue of code bloat that prompted me to 
stop using any default css for generated HTML.

At present, Morning Swill is my primary PMS tool, so this is
the preferred style.

*/


/*
@import url("http://dave-omega/rt/style/std.css");
*/

@import url("http://dave-omega/Swill/style/swill.css");
@import url("http://dave-omega/~/style/menu.css");
@import url("http://dave-omega/~/style/status.css");
@import url("http://dave-omega/~/style/tilly.css");
@import url("http://dave-lenovo/~/style/tilly.css");
@import url("http://dave-tower/~/style/midnight.css");

h2, h3 {
    background :  rgba( 172, 172, 34, 0.5 );
    color : navy;
}

a {
    display : inline-block;
    padding-left  : 1.42ch !important;
    padding-right : 1.42ch !important;
    background :  rgba( 172, 172, 34, 0.5 );
    color : midnightblue;
}

.sio {
    width : calc( 94vw - 50px );
    min-height : calc( 42vh - 1px );
    max-height : calc( 74vh - 1px );
    resize : vertical;
    overflow-x : auto scroll;
    overflow-y : scroll;
    background : mintcream;
    color : navy;
}

.sio:focus {
    outline    : none;
}

/*
</textarea> </div>
*/

