
/* Basic Blue Background */

*, html, body {
    background : rgb(   2,   2,  22 );
    color      : rgb( 252, 242, 122 );
    font-family : Verdana, "Nimbus Sans", sans-serif;
    font-size : 15pt;
}

h1 {
    font-size : 24pt;
    text-align : center;
}

p {
    color : rgb( 250, 250, 240 );
}

hr {
    --color      : rgba( 50, 50, 50, 0.1111 );
    border-color : var( --color );
    background   : var( --color );
    color        : var( --color );
}

[hide] {
    display : none;
}


