
/* 

    blue-hacks.css

    Temporary hacks to tweak the some defaults that `blue.css` fails
    to account for.

    My intention is to split this up into more coherent and logical
    categories.

    Some of this is congreunt / complementary with the features of other 
    existing stylesheets.

*/


[beep], 
code, var {
    font-size   : inherit;
    font-style  : normal;
    font-weight : 900;
    color       : lime;
    background  : rgba( 180, 180, 64, 0.1113 );
    display     : inline-block;
    border-radius : 9px;
    padding       : 3px;
    padding-left  : 6px;
    padding-right : 6px;
}

code, var, pre, textarea, input,
[contenteditable] {
    font-family : monospace;
}

strong, i, em, u {
    font       : inherit;
    font-size  : inherit;
    color      : inherit;
    background : inherit;
    text-shadow : inherit;
}

a {
    text-decoration : none;
    font-size  : inherit;
    background : inherit;
    text-shadow : inherit;
}

span[big] {
    font : inherit;
    font-size : 30px;
    color : gold;
    text-shadow : 0px 0px 5px black;
}

