
/* 

    Hot Headers

    This creates those fancy headers that look like
    the labels on file folders (the manilla paper things).

*/

h1, h2, h3, h4, h5, h6 {
    text-shadow : 0px 0px 12px gold;
    background  : rgba( 200, 200, 200, 0.17 );
    padding        : 7px;
    padding-bottom : 4px;
    padding-left   : 16px;
    padding-right  : 16px;
    border-radius  : 20px;
    border-bottom-left-radius  : 0px;
    border-bottom-right-radius : 0px;
}

