
/* 

    Layout Styles

    Panes, Slabs, and Zones

    Editables

*/


[contenteditable] {
    padding : 12px;
}

[contenteditable]:focus {
    color : black;
    background : rgb( 182, 182, 222 );
    font-family : monospace;
}

  [pane]
, [slab] {
    position : fixed;
}


[pane] {
    display  : inline-block;
}

  [slab]
, [zone]
, [bof]
, [eof] {
    display  : block;
    width : calc( 100vw );
}

[zone] {
    font : inherit;
}

[bof], [eof] {
    z-index    : 10;
    display    : block;
    position   : relative;
    margin     : 0;
    padding    : 0;
    width      : calc( 100vw - 33px );
    border     : 2px solid transparent;
    text-align : center;
    background : rgba( 7, 11, 42, 0.95 );
    font-size  : 32pt;
}

[bof] {
    padding-top    : 90px;
    padding-bottom : 0px;
    height : 90px;
    vertical-align : bottom;
}

[eof] {
    height : 50vh;
    vertical-align : top;
}

