
nav {  
    margin   : 0;
    padding  : 0;
    position : relative;
    display  : block;
    width    : 100%;
    height   : 100%;
}

header {
    width       : 100%;
    z-index     : 10000;
    position    : fixed;
    margin      : 0;
    padding     : 12px;
    box-sizing  : border-box;
}

header {  
    top           : 0px !important;
    border-bottom : var( --split );
    min-height    : 60px !important;
    max-height    : 60px !important;
    line-height   : 42px !important;
}

a.dot {
    text-decoration : none;
    outline       : none;
    display       : inline-block;
    border-radius : 50%;
    padding       : 8px;
    line-height   : 26px;
    font-size     : 22px;
    padding       : 4px;
    min-width     : 32px;
    min-height    : 32px;
    max-width     : 32px;
    max-height    : 32px;
}

