
/* 
    This is Now Imported by Personal
    Personal is Imported by Vicarion
*/

date { color : white; }
date { background : black; }
date { border-radius : 42px; }
date { padding : 7px; }

date {
    --hp    : 15px;
    padding-right : var( --hp );
    padding-left  : var( --hp );
}

date:focus ,

date:hover {
    box-shadow : 0px 0px 17px rgba( 0, 0, 0, 0.4242 );
    background : rgba( 0, 0, 0, 0.4242 ); 
}
