
/* 

    Simple I/O/E Styles
    2025-MAR-09
    System 42

    FAQ : `Simple IO` Workspace

*/

@import url("http://dave-legacy/42/style/faq.css");
@import url("http://dave-legacy/42/style/dot.css");


textarea {
    position : absolute;
    display  : none;
    width    : 100%;
    height   : 100%;
    font-family  : monospace;
    font-size    : 14pt;
    white-space  : nowrap;
    resize : vertical;
    overflow : scroll;
    margin   : 0;
    padding  : 0.75em;
    border   : 0;
    border-style  : box-border;
    color      : rgba( 242, 242, 142, 0.942 );
    background : rgba(   4,   4,  42, 0.942 );
}

textarea:hover {
    animation-name : sss_pulser;
    animation-duration 1.4242s;
    animation-iteration-count : infinite;
}

textarea:focus {
    background : rgba( 242, 242, 142, 0.942 );
    color      : rgba(   4,   4,  42, 0.942 );
}

@keyframes sss_pulser {
      0% { color : #bbe; }
     50% { color : #115; }
    100% { color : #bbe; }
}

