
:root {
    --led-color  : green;
    --led-border : rgba( 14, 42, 16, 0.8742 );
}

html, body {
    position : fixed !important; 
    margin : 0 !important;
    border : 0 !important;
    padding : 0 !important;
    min-width : 100% !important;
    min-height : 100vh !important;
    overflow : hide !important;
}

header, footer {
    z-index : 424242;
    position : fixed;
    width : calc( 100% - 31px );
    overflow : hide;
    left : 0;
    margin : 0;
    border : 0;
}

header { top : 0; }
footer {  bottom : 0; }

header, footer {
    padding-left  : 10px;
    padding-right : 20px;
}

header {
    text-align    : right;
}

.led {
    z-index : 9942424242;
    position : fixed;
    right : 10px;
    top   : 10px;
    display  : inline-block;
    width  : 21px;
    height : 21px;
    background : var( --led-color );
    color : transparent;
    user-select : none;
    border-radius : 50%;
    border : 1px solid var( --led-border );
    animation : led-fun 1.42s infinite;
    animation-timing-function : linear;
}

.led:hover {
    display : none !important;
    animation : none !important;
}

@keyframes led-fun {
    0%   { top : 84px; opacity : 1;   }
    20%  { top : calc( 10vh + 84px );  opacity : 0.8; }
    40%  { top : calc( 30vh + 84px );  opacity : 0.6; }
    60%  { top : calc( 50vh + 84px );  opacity : 0.8; }
    80%  { top : calc( 70vh + 84px );  opacity : 0.2; }
    100% { top : 84px; opacity : 1;   }
}

